{% extends "layout.html" %}

{% block title %}
    Rank
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <div class="container-full-bg">
            <h3 class="display-4">The Harvard Houses</h3>
          </div>
    </div>
    <br>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="AdamsHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Adams" aria-expanded="false" aria-controls="Adams">
                        Adams
                    </button>
                </h5>
            </div>
            <div id="Adams" class="collapse" aria-labelledby="AdamsHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2018/01/24/205510_1327153.jpg.2000x1333_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>26 Plympton Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1931</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://adamshouse.harvard.edu">adamshouse.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="CabotHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Cabot" aria-expanded="false" aria-controls="Cabot">
                        Cabot
                    </button>
                </h5>
            </div>
            <div id="Cabot" class="collapse" aria-labelledby="CabotHouse" data-parent="#accordion">
                <img src="https://static.projects.iq.harvard.edu/files/styles/os_slideshow_16%3A9_980/public/cabot/files/cabotcover1.jpg?m=1515613588&itok=zwt2zHwc" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>60 Linnaean St, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1901</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://cabot.harvard.edu">cabot.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="CurrierHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Currier" aria-expanded="false" aria-controls="Currier">
                        Currier
                    </button>
                </h5>
            </div>
            <div id="Currier" class="collapse" aria-labelledby="CurrierHouse" data-parent="#accordion">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Currier_House%2C_Radcliffe_Quadrangle_-_IMG_1693.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>64 Linnaean St, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1970</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://currier.harvard.edu">currier.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="DunsterHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Dunster" aria-expanded="false" aria-controls="Dunster">
                        Dunster
                    </button>
                </h5>
            </div>
            <div id="Dunster" class="collapse" aria-labelledby="DunsterHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2018/03/01/224744_1328598.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>945 Memorial Dr, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1930</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://dunster.harvard.edu">dunster.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="EliotHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Eliot" aria-expanded="false" aria-controls="Eliot">
                        Eliot
                    </button>
                </h5>
            </div>
            <div id="Eliot" class="collapse" aria-labelledby="EliotHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2017/03/07/202837_1321354.jpg.2000x1333_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>101 Dunster Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1930</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://eliot.harvard.edu">eliot.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="KirklandHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Kirkland" aria-expanded="false" aria-controls="Kirkland">
                        Kirkland
                    </button>
                </h5>
            </div>
            <div id="Kirkland" class="collapse" aria-labelledby="KirklandHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2018/07/06/123904_1331519.jpg.2000x1334_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>95 Dunster Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1931</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://kirkland.harvard.edu">kirkland.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="LeverettHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Leverett" aria-expanded="false" aria-controls="Leverett">
                        Leverett
                    </button>
                </h5>
            </div>
            <div id="Leverett" class="collapse" aria-labelledby="LeverettHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2018/03/01/230331_1328619.jpg.2000x1333_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>28 DeWolfe Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1931</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://leverett.harvard.edu">leverett.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="LowellHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Lowell" aria-expanded="false" aria-controls="Lowell">
                        Lowell
                    </button>
                </h5>
            </div>
            <div id="Lowell" class="collapse" aria-labelledby="LowellHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2019/03/11/222604_1336526.jpg.1499x1010_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>10 Holyoke Place, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1930</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://lowell.harvard.edu">lowell.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="MatherHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Mather" aria-expanded="false" aria-controls="Mather">
                        Mather
                    </button>
                </h5>
            </div>
            <div id="Mather" class="collapse" aria-labelledby="MatherHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2020/02/05/211452_1342292.jpg.2000x1333_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>10 Cowperthwaite Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1970</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://mather.harvard.edu">mather.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="PforzheimerHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Pforzheimer" aria-expanded="false" aria-controls="Pforzheimer">
                        Pforzheimer
                    </button>
                </h5>
            </div>
            <div id="Pforzheimer" class="collapse" aria-labelledby="PforzheimerHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2018/03/01/231446_1328633.jpg.2000x1333_q95_crop-smart_upscale.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>56 Linnaean Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1996</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://pfoho.harvard.edu">pfoho.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="QuincyHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Quincy" aria-expanded="false" aria-controls="Quincy">
                        Quincy
                    </button>
                </h5>
            </div>
            <div id="Quincy" class="collapse" aria-labelledby="QuincyHouse" data-parent="#accordion">
                <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2019/03/12/013902_1336566.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>58 Plympton Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1959</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://quincy.harvard.edu">quincy.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="WinthropHouse">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Winthrop" aria-expanded="false" aria-controls="Winthrop">
                        Winthrop
                    </button>
                </h5>
            </div>
            <div id="Winthrop" class="collapse" aria-labelledby="WinthropHouse" data-parent="#accordion">
                <img src="https://harvardmagazine.com/sites/default/files/img/article/0917/vanderwarker_pdv_2524_0.jpg" class="card-img-top">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Address</td>
                                <td>32 Mill Street, Cambridge, MA 02138</td>
                            </tr>
                            <tr>
                                <td>Established</td>
                                <td>1931</td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><a href="https://winthrop.harvard.edu">winthrop.harvard.edu</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}